<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kieranhogg.xbmc.XBMC-Alfred-Workflow</string>
	<key>connections</key>
	<dict>
		<key>34FC3350-97D5-4FE8-AF5F-B2CCD1F17769</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EFCF9A6D-39BD-43C2-8A7F-75A1B9A560B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA17BE41-176A-4E9A-B958-A3F0BEA36829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9788FD7-22C1-429B-BB4E-72A235ED9BF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BFC6D9CF-C9D0-41E5-8DC5-9BC03D68864B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE3E3956-FF41-4DF5-9DC4-319E86A28A86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C9788FD7-22C1-429B-BB4E-72A235ED9BF8</key>
		<array/>
		<key>EFCF9A6D-39BD-43C2-8A7F-75A1B9A560B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F66996E-BC75-4B3E-87F6-2556E6BE5C3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kieran Hogg</string>
	<key>description</key>
	<string>Controls an XBMC instance</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>XBMC Controller</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>xbmc</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby ./main.rb {query}</string>
				<key>title</key>
				<string>Control an XBMC instance</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA17BE41-176A-4E9A-B958-A3F0BEA36829</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby ./run_command.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9788FD7-22C1-429B-BB4E-72A235ED9BF8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>xbmc-tv</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby ./tv.rb {query}</string>
				<key>title</key>
				<string>Play XBMC TV episodes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34FC3350-97D5-4FE8-AF5F-B2CCD1F17769</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>set show to do shell script "cat tv_show.txt"
set season to do shell script "cat tv_season.txt"
tell application "Alfred 2" to search "xbmc-tv " &amp; show &amp; " " &amp; season
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>4F66996E-BC75-4B3E-87F6-2556E6BE5C3C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby ./show_show.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFCF9A6D-39BD-43C2-8A7F-75A1B9A560B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>xbmc-movies</string>
				<key>runningsubtext</key>
				<string>...</string>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby ./movies.rb {query}</string>
				<key>title</key>
				<string>Play XBMC movies</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BFC6D9CF-C9D0-41E5-8DC5-9BC03D68864B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby ./show_movie.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE3E3956-FF41-4DF5-9DC4-319E86A28A86</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34FC3350-97D5-4FE8-AF5F-B2CCD1F17769</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>4F66996E-BC75-4B3E-87F6-2556E6BE5C3C</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>BA17BE41-176A-4E9A-B958-A3F0BEA36829</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>BE3E3956-FF41-4DF5-9DC4-319E86A28A86</key>
		<dict>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>BFC6D9CF-C9D0-41E5-8DC5-9BC03D68864B</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>C9788FD7-22C1-429B-BB4E-72A235ED9BF8</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>EFCF9A6D-39BD-43C2-8A7F-75A1B9A560B1</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/xerosis</string>
</dict>
</plist>
